# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    
    ztec.security.active_directory.settings:
        account_suffix : levi9.com # without the @ at the beginning
        base_dn : OU=Users,OU=Kiev,OU=Ukraine,OU=Levi9,DC=levi9,DC=com #The DN of the domain
        domain_controllers : [ levi9.com ] #Servers to use for ldap connection (Random)
        admin_username: #Null to use the userConnection
        admin_password: #Null to use the userConnection
        real_primarygroup : true #For Linux compatibility.
        use_ssl : false #Set it true need configuration of the server to be useful
        use_tls : false #Set it true need configuration of the server to be useful
        recursive_grouproles: false #recursive group roles
        username_validation_pattern: /^[a-z0-9-.]+$/i #Regex that check the final username value (extracted from patterns below). Must be complient with your Active Directory username policy.
        username_patterns: #username is extracted from the string the user put into the login form
#          - /([^@]*)@riper.fr/i  # like toto@riper.fr
#          - /RIPER\\(.*)/i #like RIPER\toto
#          - /RIPER.FR\\(.*)/i #like RIEPER.FR\toto
          - /(.*)/i #like toto
    ztec_security_active_directory_user_provider.class: TrainingBundle\Security\User\adUserProviderCustom
