{% extends "TrainingBundle::layout.html.twig" %}
{% form_theme userForm 'form/fields.html.twig' %}

{% block body %}
    <div class="col-sm-4">
    {{ form_start(userForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(userForm) }}
    {{ form_end(userForm) }}
    </div>
{% endblock %}